<div id="about">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h2 class="heading">About Me</h2>
          </div>
          <div class="col-md-8">
              <p>
                  A passionate Software Engineer based in South Wales with a strong focus on Full-Stack Web Development. 
                  I'm currently completing a Masters degree in Computing with two major mobile and web based projects as part of my degree.
                  
              </p>
              <p>
                  I have worked professionally with a range of technologies such as ASP.NET Core/MVC, Angular, Redux, and Ionic.
              </p>
          </div>
      </div>
  </div>
</div>