<div id="about">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h2 class="heading">About Me</h2>
          </div>
          <div class="col-md-8">
              <p>
                  A passionate Software Engineer based in South Wales with a strong focus on Full-Stack Web Development. 
                  
              </p>
              <p>
                I'm currently working for <a href="https://www.wepredict.com/">We Predict</a>, writing software and predictive analytics solutions for leaders in the automotive industry, including Honda and JCB. 
              </p>
          </div>
      </div>
  </div>
</div>