<div id="experience" class="background-alt">
  <h2 class="heading">Experience And Education</h2>
  <div id="experience-timeline">
    <div class="vtimeline-point"><div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div><div class="vtimeline-block"><span class="vtimeline-date">July 2018 – Present</span><div data-date="July 2018 – Present" class="vtimeline-content">
        <h3><a href="https://www.wepredict.com/" target="_blank">We Predict Ltd</a></h3>
        <h4>Software Engineer</h4>
        <p>
            Part of the development team providing predictive analytics and software solutions for leaders in the automotive industry, including <i>Honda</i> and <i>JCB</i>
        </p>
        <br>
        <p>
          Development tools used include the .NET tech stack (C#, ASP.NET, MVC) and data handling using Entity Framework and Microsoft SQL Server. 
        </p>
    </div></div></div>

    <div class="vtimeline-point"><div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div><div class="vtimeline-block"><span class="vtimeline-date">September 2016 – September 2017</span><div data-date="September 2016 – September 2017" class="vtimeline-content">
      <h3>Performance Cycling (Halfords Group)</h3>
      <h4>Full-Stack Web Developer</h4>
      <p>
        Part of the development team responsible for building and supporting the <a href="https://www.tredz.co.uk/">Tredz.co.uk</a>, <a href="https://www.wheelies.co.uk">Wheelies.co.uk</a>, and <a href="https://www.cyclesolutions.co.uk">CycleSolutions.co.uk</a> websites.  
      </p>
      <br>
      <p>
        Part of the Halfords group of cycling focused eCommerce websites, with over 2,000 simultaneous requests at any given time. 
      </p>
  </div></div></div>

    <div class="vtimeline-point"><div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div><div class="vtimeline-block"><span class="vtimeline-date">September 2013 – July 2018</span><div data-date="September 2013 – July 2018" class="vtimeline-content">
        <h3>Swansea University</h3>
        <h4>Master of Engineering In Computing</h4>
        <p>
            Integrated master's degree, achieving a first-class honours with an 80% average over 5 years. 
        </p>
        <br>
        <p>
          Modules included web and mobile application development, software testing, software development and <a id="current-projects-link" [scrollTo]="'#current-projects'" [scrollDuration]="500" >two major software delivery projects.</a>
        </p>
    </div></div></div>
</div>
</div>

