<div id="experience" class="background-alt">
  <h2 class="heading">Experience And Education</h2>
  <div id="experience-timeline">
    <div class="vtimeline-point"><div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div><div class="vtimeline-block"><span class="vtimeline-date">September 2013 – September 2016</span><div data-date="September 2013 – September 2016" class="vtimeline-content">
        <h3>Swansea University</h3>
        <h4>Bachelor Of Science In Software Engineering</h4>
        <p>
            The undergraduate portion of my 5 year MEng in Computing with a year in industry. Major modules included web and mobile application development, software testing, and software development. 
            <br> A dissertation was also produced which can be found <a href="/assets/projects/combining-music/dissertation.pdf">here.</a>
        </p>

        <ul>
          <li><i>First Year</i> - first class with a 78% average.</li>
          <li><i>Second Year</i> - first class with a 77.5% average.</li>
          <li><i>Third Year</i> - first class with an 80% average.</li>
        </ul>
    </div></div></div>

    <div class="vtimeline-point"><div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div><div class="vtimeline-block"><span class="vtimeline-date">September 2016 – September 2017</span><div data-date="September 2016 – September 2017" class="vtimeline-content">
        <h3>Performance Cycling </h3>
        <h4>Full-Stack Web Developer</h4>
        <p>
            Part of the development team responsible for building and supporting the <a href="https://www.tredz.co.uk/">Tredz.co.uk</a>, <a href="https://www.wheelies.co.uk">Wheelies.co.uk</a>, and <a href="https://www.cycle-solutions.co.uk">Cycle-Solutions.co.uk</a> websites.  
        </p>
        <br>
        <p>
          Development tools used primarily consisted of the .NET tech stack (C#, ASP.NET, MVC) and data handling using Entity Framework and Microsoft SQL Server. 
        </p>
        
    </div></div></div>

    <div class="vtimeline-point"><div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div><div class="vtimeline-block"><span class="vtimeline-date">September 2017 – September 2018</span><div data-date="September 2017 – September 2018" class="vtimeline-content">
        <h3>Swansea University</h3>
        <h4>Master of Engineering In Computing</h4>
        <p>
            Master's portion of my 5 year MEng in Computing with a year in industry. Relevant modules include Operating Systems, IT Security, and High Performance Computing. 
 
            
        </p>
        <br>
        <p>
          Two major software delivery projects are being developed as part of my degree <a id="current-projects-link" >which can be found here.</a>
        </p>
    </div></div></div>
</div>
</div>

