<div id="projects" class="background-alt">
  <h2 class="heading">Projects</h2>
  <div class="container">
      <div class="row">

          <div class="project shadow-large">
              <div class="project-image">
                  <img src="/assets/images/projects/slide/project.png" />
              </div>
              <!-- End .project-image -->
              <div class="project-info">
                  <h3>Slide - Android Puzzle Game</h3>
                  <p>
                      Slide is a simple yet addictive puzzle game for Android devices. The app features 140 levels of various sizes. The app was primarily built using C# and the Unity3D game engine. 
                  </p>

                  <a href="https://play.google.com/store/apps/details?id=com.JamesWatson.Slide">Play Store</a> --
                  <a href="https://play.google.com/store/apps/details?id=com.JamesWatson.Slide">Full Project Details</a> --
                  <a href="https://www.youtube.com/watch?v=KXl2fQG1tjw">Promo Video</a>
              </div>
              <!-- End .project-info -->
          </div>
          <!-- End .project -->

          <div class="project shadow-large">
              <div class="project-image">
                  <img src="/assets/images/project.jpg" />
              </div>
              <!-- End .project-image -->
              <div class="project-info">
                  <h3>Combining Music Streaming Services</h3>
                  <p><a href="http://cs.swan.ac.uk/~csbob/teaching/projectFair/2016.php">Winner of best student project 2016 as voted by school students.</a> </p>
                  
                  <p>
                      A single-page application which can interweave music streaming results from a range of sites such as YouTube and SoundCloud. 
                      The site can autoplay flawlessly from one streaming site to the next within the same central playlist. Primarily built using AngularJS and JavaScript on the front-end, along with Bootstrap for mobile-first styling.
                  </p>
                  <a href="#">Full Project Details</a> --
                  <a href="/assets/projects/combining-music/dissertation.pdf">View Dissertation</a> --
                  <a href="/assets/projects/combining-music/project-fair-poster.jpg">Promotional Poster</a>
              </div>
              <!-- End .project-info -->
          </div>
          <!-- End .project -->
      </div>
  </div>
</div>
<!-- End #projects -->