<div id="current-projects" class="background">
  <h2 class="heading">Current Projects</h2>
  <div class="container">
      <div class="row">

          <div class="project shadow-large">
              <div class="project-image">
                  <img src="/assets/projects/full-scale-music/logo.jpg" />
              </div>
              <!-- End .project-image -->
              <div class="project-info">
                  <h3>Building A Full-Scale Music Streaming Site</h3>
                  <p>
                    An upcoming music streaming platform built with Angular, ASP.NET Core, Redux, and the YouTube API. 
                  </p>
                  <br>
                  <p>
                    The website is built upon an innovative new approach to playlist management known as <i>tags</i>.
                      Tags allow you to make very complex playlists that give full control over shuffling algorithms. 
                      Instead of being limited to shuffling songs, you can shuffle by albums, artists, and genres all mixed in the same playlist.
                  </p>

                  <a href="/assets/projects/full-scale-music/initial-document.pdf">Project Specification Document</a> --
                  <a routerLink="/projects/full-scale-music" routerLinkActive="active">Full Project Details</a> 
              </div>
              <!-- End .project-info -->
          </div>
          <!-- End .project -->

          <div class="project shadow-large">
              <div class="project-image">
                  <img src="/assets/projects/achilles/logo.jpg" />
              </div>
              <!-- End .project-image -->
              <div class="project-info">
                  <h3>Achilles Rupture Recovery Application</h3>
                  
                  <p>
                    A mobile application which aids patients through the recovery process of an achilles tendon rupture, similar to a fitness application.                     
                    Currently being built as a team of four developers, with myself as lead front-end developer, in association with the NHS.
                  </p>
                  <br>
                  <p>
                    The cross-platform mobile application is being built using the Ionic framework, with ASP.NET as our back-end framework of choice.
                  </p>
                  <a href="/assets/projects/achilles/initial-document.pdf">Project Specification Document</a> --
                  <a routerLink="/projects/achilles" routerLinkActive="active">Full Project Details</a> 
              </div>
              <!-- End .project-info -->
          </div>
          <!-- End .project -->
      </div>
  </div>
</div>